
html,
body {
  padding: 0;
  margin: 0;
}

body {
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: contain;
  overflow: hidden;
}

main {
  padding: 50px 25px;
  font: 18px helvetica;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  & + main {
    z-index: 1;
  }
}

#nav {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  text-align: right;
}


// Demo Content

.demo-area {
  display: inline-block;
  max-height: 50px;
  overflow: scroll;
  background: green;
  color: #fff;
  padding: 12px;
  margin: 12px;

  &:nth-of-type(2n) {
    background: blue;
  }

  &:nth-of-type(3n) {
    background: red;
  }
}

// .touch-fixes {
//   overflow: scroll;
//   overscroll-behavior-y: none;
//   overflow-y: scroll;
//   -webkit-overflow-scrolling: touch;
//   touch-action: pan-y;
// }
